table td:first-child {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table tr:first-child {
    border-bottom: 2px solid black;
}

.post-block{
    width: 100%;
    text-align: justify;
}
table {
    margin: 0 auto;
}
